* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    user-select: none;
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.mastermind {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-variant: small-caps;
}

h1 {
    color: black;
    font-family: Funhouse, serif;
    font-weight: 600;
    font-size: calc(20px + 5vw);
    opacity: 0.95;
    text-align: center;
    letter-spacing: 5px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
        0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
        0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
        0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
        0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.guess {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.answer {
    display: grid;
    grid-template-columns: auto auto;
}

.code-attempt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.flag {
    width: 1rem;
    height: 1rem;
    margin-inline: auto;
    margin-block: auto
}

.start-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px 12px;
    min-width: 5;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
}

.large-button {
    min-width: 10em;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
    user-select: none;
}

.button:active .button-top {
    transform: translateY(6px);
}

.button-top::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#cd3f64, #9d3656);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: .2s;
}

.button:active .button-top::after {
    border-radius: 6px;
    padding: 0 2px;
}

.button-bottom {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    background-color: #803;
    background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
    transition-property: border-radius, padding-top;
    transition-duration: .2s;
}

.button:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}

.button-base {
    position: absolute;
    z-index: -2;
    top: 4px;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}

.ball {
    font-size: 3rem;
}


.guess-code {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.guess-code select {
    font-size: 2rem;
    width: 4rem;
    color: currentColor;
    text-align: center;
}

.guess-code select option:hover {
    appearance: none;
}

.previous-attempts {
    height: 100%;
    overflow-y: auto;
}

.solution {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.solution p {
    text-align: center;
}

h2 {
    text-align: center;
    margin-block: 2rem;
}